COM_HRC/Connected Services/WCFReference/WCFMAtrix1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFMAtrix" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/WCFMatrix.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/WCFMatrix.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/WCFMatrix.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFMatrix_CalcDeterminant_InputMessage">
    <wsdl:part name="parameters" element="tns:CalcDeterminant" />
  </wsdl:message>
  <wsdl:message name="IWCFMatrix_CalcDeterminant_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalcDeterminantResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFMatrix_FilterAndOrderValues_InputMessage">
    <wsdl:part name="parameters" element="tns:FilterAndOrderValues" />
  </wsdl:message>
  <wsdl:message name="IWCFMatrix_FilterAndOrderValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:FilterAndOrderValuesResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFMatrix">
    <wsdl:operation name="CalcDeterminant">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFMatrix/CalcDeterminant" message="tns:IWCFMatrix_CalcDeterminant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFMatrix/CalcDeterminantResponse" message="tns:IWCFMatrix_CalcDeterminant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FilterAndOrderValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFMatrix/FilterAndOrderValues" message="tns:IWCFMatrix_FilterAndOrderValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFMatrix/FilterAndOrderValuesResponse" message="tns:IWCFMatrix_FilterAndOrderValues_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCFMatrix" type="tns:IWCFMatrix">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalcDeterminant">
      <soap:operation soapAction="http://tempuri.org/IWCFMatrix/CalcDeterminant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FilterAndOrderValues">
      <soap:operation soapAction="http://tempuri.org/IWCFMatrix/FilterAndOrderValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFMAtrix">
    <wsdl:port name="BasicHttpBinding_IWCFMatrix" binding="tns:BasicHttpBinding_IWCFMatrix">
      <soap:address location="http://localhost/WCFMatrix.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>